.nav{
    display:flex;
    align-items:center;
    position:sticky;
    top:0px;
    background-color:gold;
    
}
 .nav ul{
    display:flex;
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    color:chocolate;
 }
.nav ul li{
     list-style:none;
     padding-left:125px;
}

.nav ul li a{
    color:darksalmon;
    display:block;
    padding: 3px 2px;
    text-decoration:none;
    border-radius: 20px;
}

.nav ul li a:hover{
    color:cadetblue;
    background-color: chocolate;
}

#Home{
    background-color:lightcoral;

}

#Home h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:indigo;
    font-size:30px;
    display:flex;
    justify-content:center;
    border-style:solid;
    border-width:5px 5px;
    border-color:cyan;
    border-radius:20px;
    background-color:lightpink;
}

#Home h1{
    font-family:'fantasy';
    size:10px;
    color:blue;
    

}

#Home p{
font-family:'Times New Roman', Times, serif;
color:rebeccapurple;
font-size:20px;
text-indent: 3px;
background-color:lightcoral;
padding-bottom:20px;
}

#part1{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

#part1 .listing{
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:wavy;
} 

#Home h5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    color:mediumslateblue;
    text-decoration: none;
    display:flex;
    justify-content:space-evenly;
    border-style:solid;
    border-width:2px 4px;
    border-color:aqua;
    border-radius:20px;
    width:65%;
    margin-left:190px;
}








.footer{
    background-color:bisque;
    border-style:solid;
    border-width:2px 4px;
    border-color:thistle;
    border-radius:20px;
}

.footer h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:blue;
    display:flex;
    justify-content: space-evenly;

}
.footer h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    color:crimson;
    display:flex;
    justify-content: space-evenly;
}
.footer a{
    display:flex;
    justify-content:space-evenly;
}

